@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html[lang = "ml"] {
    font-family: "Noto Sans Malayalam", sans-serif;
}

html[lang = "en"] {
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: row;
}
nav > a {
    margin: 0px;
    border: none;
    text-decoration: none;
    color: #5c4932;
    flex-grow: 1;
}

nav > a:hover {
    background-color: #e0e0e0;
    transition-duration: 1s;
}

a[lang = "ml"], a[lang = "en"] {
    background-color: #ffe4c5;
}

a[lang = "ml"]:hover, a[lang = "en"]:hover {
    background-color: #dfc7ab;
    transition-duration: 1s;
}

a, button {
    cursor: pointer;
}

a:visited {
    color: 
}

