@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html {
    flex: 1;
    font-family: 
}
html[lang = "ml"] {
    font-family: "Noto Sans Malayalam", sans-serif;
}
html[lang = "en"] {
    font-family: "Raleway", sans-serif;
}
header {
    align-items: center;
}



